<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <strong>Your rating must be from 1 to 10 and you may only rate a recipe once. </strong>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :indrating %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :recipe_id, :value => params[:recipe_id] %>

  <div class="actions">
    <%= f.submit "Rate this recipe!" %>
  </div>
<% end %>
