<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @search.keyword %>
</p>
<% plural = @search.keyword.pluralize(2).downcase %>
<% single = @search.keyword.pluralize(1).downcase %>
<% counter = 0 %>
<% Recipe.all.each do |recipe| %>
	
	<% if recipe.ingredients.downcase.include?(single) || recipe.ingredients.downcase.include?(plural)%>
	<% counter += 1 %>
	<%= link_to "#{recipe.name}", "/recipes/#{recipe.id}" %><br>
	<% end %>
<% end %>
<% if counter == 0 %>
	<%= "No recipes containing that ingredient!" %>
	<% end %>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
